<html>
<body>
<H3 style="text-align:center">POC Details</H3> 

<div class="text-align:right">
<a (click) = "logout()">Logout</a>  |  
<a routerLink="/app-my-profile-page" routerLinkActive="active">My Profile</a>

</div>

<div class="container">
    <div class="form-group row">
        <div class="col-xs-4">
    <input type="text" class="form-control" [(ngModel)]="queryString" id="search" placeholder="Search - ID or Name or Email">
    <br>
        </div>
    </div>

<table class="table table-bordered table-hover table-condensed">


          <thead>
            <tr>
              <th style="text-align:center">Employee ID</th>
              <th style="text-align:center">Employee Name</th>
              <th style="text-align:center">Email ID</th>
              <th style="text-align:center">Phone Number</th>
            </tr>
          </thead>
          <tbody id="empTable">
            <tr *ngFor = "let employee of employeeList | FilterPipe: queryString">
              <td style="text-align:center">{{employee.EmpId}}</td>
              <td style="text-align:center">{{employee.name}}</td>
              <td style="text-align:center">{{employee.email}}</td>
              <td style="text-align:center">{{employee.phnumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>


</body>
</html>