
  
<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <form action="/action_page.php" class="center">
  <label class="bold-blue-text">User email: </label> 
  <input class=".bold-blue-text" name="user" type="text" [(ngModel)]="email" placeholder="Email" ><br><br>

  <label class="bold-blue-text">Password: </label>
  <input type="password" name="password" [(ngModel)]="password" placeholder="Password"><br><br>

  <button type="submit" class="button" (click)="login()" [disabled]="!email || !password">Login</button>&emsp;
  <button type="submit" class="button" (click)="register()" routerLink="/app-registration-page" routerLinkActive="active">Register</button>
  <p><button type="submit" class="button" (click)="signup()" [disabled]="!email || !password">Sign up</button>
    <div style="text-align:center" [(ngModel)]="errormsg">{{errormsg}} </div>
    
  </form>
  
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>

  