<div class="container">
  <h2 align="center">My Profile</h2>
 <hr>
 <form #myProfileForm="ngForm" >
   
     
     <div class="form-group">
       <label for="name">Employee Name</label> 
    
      </div>

     <div class="form-group">
         <label for="name">Employee ID</label> {{userId}}
     </div>

     <div class="form-group">
         <label for="email">Email ID : </label> {{email}}
     </div>

     <div class="form-group">
       <label for="phnumber">Phone Number</label> 
     </div>


     <button type="button"  class="btn btn-primary btn-lg" ng-click="">Add your project</button>


     <table class="table table-bordered table-hover table-condensed">
    
    
        <thead>
            <tr>
                <th style="text-align:center">Employee ID</th>
                <th style="text-align:center">Employee Name</th>
                <th style="text-align:center">Email ID</th>
                <th style="text-align:center">Phone Number</th>
            </tr>
        </thead>
        <tbody id="empTable">
            <tr *ngFor="let employee of employeeList">
                <td style="text-align:center">{{employee.EmpId}}</td>
                <td style="text-align:center">{{employee.name}}</td>
                <td style="text-align:center">{{employee.email}}</td>
                <td style="text-align:center">{{employee.phnumber}}</td>
            </tr>
        </tbody>
    </table>