<div class="container">
  <h2 align="center">My Profile</h2>
 <hr>
 <form #myProfileForm="ngForm" >
   
     
     <div class="form-group">
       <label for="name">Employee Name</label> 
    
      </div>

     <div class="form-group">
         <label for="name">Employee ID</label> 
     </div>

     <div class="form-group">
         <label for="email">Email ID</label>
     </div>

     <div class="form-group">
       <label for="phnumber">Phone Number</label> 
     </div>


     <button type="button"  class="btn btn-primary btn-lg" ng-click="">Add your project</button>